<div class="container">
	<div class="col-sm-12 " style="overflow:auto;height:485px;margin-top:50px;">
		<table class="table table-striped table-bordered" style="background-color:#eee;border:2px solid #aaa">
			<tr>
				<th>Team</th>
				<th>Elements Found</th>
				<th>Score</th>
				<th>Difference</th>
			</tr>
			<% @cheaters.each do |c| %>
				<tr>
					<td><%=c.email%></td>
					<td><%=c.elements_found.count('1')-4%></td>
					<td><%=c.score%></td>
					<td><%=c.score - (c.elements_found.count('1')-4)*5 %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
