* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

#cover-container{
  z-index: 1;
  position: fixed;
  height: 100%;
  width: 100%;
}

#cover-up,
#cover-down{
  background-color: #666;
  height: 50%;
  position: relative;
  transition: transform 2s;
}

#cover-down{
  background-color: #444  ;
}

#cover-up img,
#cover-down img{
  position: absolute;
}

#cover-up img{
  z-index: 1;
  bottom: -50%;
  left: 0;
  width: 45%;
}

#cover-down img{
  width: 40%;
  top: -25%;
  right: 0;
}

#graph-container,
#gauge-container {
  position: relative;
}

#graph-container {
  height: 30%;
}

#gauge-container {
  height: 70%;
}

#graph-container canvas {
  width: 100%;
  height: 100%;
}

#gauge-container canvas {
  width: 100%;
  height: 100%;
}

#preview-textfield {
  font-size: 60px;
  font-weight: bold;
  left: 50%;
  letter-spacing: 2px;
  position: absolute;
  top: 20px;
  transform: translateX(-50%);
}

#screen {
  animation: show-screen 1s ease-out infinite;
  background-color: transparent;
  display: none;
  font-size: 140px;
  font-weight: bold;
  height: 100%;
  position: fixed;
  text-align: center;
  width: 100%;
}
#screen div {
  background-color: rgba(0, 50, 100, 0.7);
  color: #fff;
  padding: 20px 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes show-screen {
  0% {
    opacity: 0;
    top: 30px;
  }
  50% {
    opacity: 1;
    top: 0;
  }
  80% {
    opacity: 0;
    top: 0;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}
