<html>
<style type="text/css">
  *{
    margin: 0;padding: 0;
  }
  html,body{
    height:100%;
  }
  div{
    position:relative;
    top:40%;
    transform:translateY(-50%);
    text-align:center;
  }
  h1,h2{
    padding-top: 20px;
    letter-spacing: 8px;
  }
  h2{
    display: table;
    margin: auto;
    text-align: left;
  }
</style>
<body>
  <div>
    <h2>Dear user,<br>Please don't poke your nose in server business.</h2>
    <h1>YOU MAY GET DISQUALIFIED </h1>
  </div>
  <script>
  </script>
</body>
</html>