<div id="arena">
  <div id="alert_container">
    <div class="alert">
      <button type="button" class="close"><span>&times;</span></button>
      <span id="alert-msg"></span>
    </div>
  </div>
  <h1>
    drag<br>
    drop<br>
    mix<br>
    <br>
    REPEAT.
  </h1>
</div>
<div id="panel">
  <h2>Elements</h2>
  <hr>
  <div><ul></ul></div>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'game', 'data-turbolinks-track' => true %>
